node_modules

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Firebase Hosting
.firebaserc
firebase-debug.log

#ignorar compilação
build
!build.grandle

#ignorar bloqueio de pacotes
yarn.lock

#ignorar arquivos bin de build
*.bin
*.dex