node_modules

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Firebase Hosting
.firebaserc
firebase-debug.log

#ignorar compilação
build

#ignorar bloqueio de pacotes
yarn.lock